body{
    margin:0px;
    font-size:11px;
}
ol, ul{
    list-style: none;
}
a{
    color:white;
    text-decoration:none;
}
li{
    margin: 0;
    padding:0;
    border: 0;
    background: transparent;
}

#main{
    width:1100px;
    margin-left:auto;
    margin-right:auto;
}
.nav_icon{
    margin-right:8%;
    float:left;
}
.nav_icon > a, .nav_icon >span, .nav_icon > p{
    float:left;
    color:#747474;
    font-weight:bold;
}
.nav_icon >span{
    margin-right:10px;
}
#side_left{
    width:calc((100% - 750px)/2);
    height:450px;
    float:left;
    background-color:#FFFED7;
}
#side_left >div > p{
    width:100%;
    text-align:center;
    font-size:15px;
    margin-top:5%;
    color:#747474;
}
#side_left > div{
    width:100%;
    height:10%;
    border-top:3px solid #fff;
    border-right:3px solid #fff;
}

#header{
    width:100%;
    height: 220px;
    position:relative;
    background-color: white;
}

#header .innerHeader{
    width: 100%;
    margin: 0 auto;
    position: relative;   
}

#header .topBox{
    height:40px;
    background-color: bisque;
}

#header .topBox .topLink{
    float:right;
    color:black;
    padding-top: 8px;
}

#header .topBox .topLink li.list{
    float:left;
    line-height: 16px;
    margin-left: 10px;
    padding-left: 10px;
    
}
    
#header .topBox .topLink li.loginBtn{
    padding-left:0;
    top:-3px;
    background: none;
}

.login_form{
    padding-top: 15px;
    padding-left: 30px;
    text-align: center;
    position: relative;
}

.login_form .txtLogin{
    margin-bottom: 20px;
    width:500px;
}

.login_form .input_li{
    margin: 0 0 12px 0;
    padding: 8px 0 0 6px;
    width: 279px;
    height: 39px;
    border: solid 1px #c9c9c9;
}

.login_form .input_li label{
    display: inline-block;
    width:45px;
}

.login_form .input_li input{
    width:200px;
    border:1px solid #fff;
    font-size:16px;
    line-height: 18px;
    color:#555;
}

.login_form .btn{
    position: absolute;
    top:121px;
    bottom: 0;
}

.login_link{
    padding:20px 0 0 120px;
    margin-bottom: 45px;
    margin-left: -21px;
}

.loginLink{
    margin: 0 auto;
    color:black;
    padding-top: 8px;
}

.midBox{
    height:130px;
    background-color: white;
    width:100%;
}

.midBox .middle{
    margin:0 auto;
    width:150px;
    height:130px;
}

#logo{
    width:200px;
    height: 120px;
}

#nav{
    height:50px;
    background-color: bisque;
    width:auto;
    padding:1.5%;
}



