.nav_icon{
    margin-right:8%;
    float:left;
}
.nav_icon > p, .nav_icon >span{
    float:left;
    color:#747474;
    font-weight:bold;
}
.nav_icon >span{
    margin-right:10px;
}
#carousel-example-generic{
    width:750px;
    height:450px;
    margin-left:auto;
    margin-right:auto;
    float:left;
}
#side_left{
    width:calc((100% - 750px)/2);
    height:450px;
    float:left;
    background-color:#FFFED7;
}
#side_left > div{
    width:100%;
    height:10%;
    border-top:3px solid #fff;
    border-right:3px solid #fff;
}
#side_right{
    width:calc((100% - 750px)/2);
    height:450px;
    float:left;
    background-color:#FFFED7;
}
#side_right > div{
    width:100%;
    height:10%;
    border-top:3px solid #fff;
    border-left:3px solid #fff;
}
#content{
    width:100%;
}
.content_list{
    width:100%;
}
.content_list > p{
    width:100%;
    float:left;
    text-align:center;
    font-size:25px;
    border-bottom:1px solid #000;
    margin-top:5%;
}
.content_list > p> label, .content_list > p> span{
    font-size:15px;
}
.pic{
    width:20%;
    margin-left:2.5%;
    margin-right:2.5%;
    float:left;
}

.pic > p{
    width:200px;
    border-bottom:1px solid #8C8C8C;
    margin-top:2%;
}
.pic > p > label{
   float:right;
}
.pic >label > span, .pic >label > p{
    float:left;
}
.pic >label > span{
    color:#FF5E00;
}
.price{
    font-weight:bold;
    border:0px !important;
    color:#FFBB00;
}
#bottom{
    bottom:0px;
    width:100%;
}
#bottom > p{
    width:50%;
    float:left;
}

.bottom_first{
    margin-top:5%;
}