
#carousel-example-generic{
    width:750px;
    height:450px;
    margin-left:auto;
    margin-right:auto;
    float:left;
    margin-top:30px;
}

.side_img{
    margin-top:30px;
    margin-left:30px;
}
#content{
    width:100%;
}
.content_list{
    width:100%;
}
.content_list > p{
    width:100%;
    float:left;
    text-align:center;
    font-size:25px;
    border-bottom:1px solid #000;
    margin-top:5%;
}
.content_list > p> label, .content_list > p> span{
    font-size:15px;
}
.pic{
    width:20%;
    margin-left:2.5%;
    margin-right:2.5%;
    float:left;
}

.pic > p{
    width:200px;
    border-bottom:1px solid #8C8C8C;
    margin-top:2%;
}
.pic > p > label{
   float:right;
}
.pic >label > span, .pic >label > p{
    float:left;
}
.pic >label > span{
    color:#FF5E00;
}
.price{
    font-weight:bold;
    border:0px !important;
    color:#FFBB00;
}
.pic > label > input{
    width:55px;
    margin-top:-5px;
    background-color:bisque;
    border:1px solid #eaeaea;
}
#bottom{
    bottom:0px;
    width:100%;
}
#bottom > p{
    width:50%;
    float:left;
}

.bottom_first{
    margin-top:5%;
}