#container .contents .contents_QNA{
    margin-left: 20px;
    margin-top:8.5px;
    width: 880px;
    height: 600px;
    background-color:#FFFFFF;
}

#container .contents .contents_QNA #contents_QNA_upperbar{
    width:880px;
    height:40px;
    background-color:#637DA5;
    font-size : 11px;
    font-weight: bold;
    color:white;
    
}


#container .contents .contents_QNA #contents_QNA_MenuName{
    width:880px;
    height:43px;
    background-color:#FFFFFF;
    font-size : 24px;
    font-weight: bold;
    color:#424242;
}

#container .contents .contents_QNA #contents_QNA_middlebar{
    width:880px;
    height:4px;
    background-color:#424242;
}


#QNAList_UpperBar{
    background-color : #F1F1F1;

}

td{
    display: table-cell;
}

.AnswerText{
    width:500px;
    height:300px;
}

.QNAListAnswer .QNAListAnswerBox{

    border: 1px solid #BCBCBC;
    width:880px;
    height: 600px;
    padding:20px 20px 20px 20px;

}


.AnswerSummitbtn{
    width:auto;
    height:27px;
    color:#424242;
    background-color: #F1F1F1;
}
.AnswerCancelbtn{
    width:auto;
    height:27px;
    color:#424242;
    background-color: #F1F1F1;
}

.QNAListAnswerTable{
    width:840px;
    height:560px;
    background-color:#FFFFFF;
    border: 1px solid #94949D;
    
    
}



.QNAListAnswerTable td{
    border:1px solid #94949D;
        text-align: center;
    vertical-align: middle;
    color:#686868;
    font-size:11px;
}




